#intro-text {
  background-image:url("../../assets/img/image.jpg");
  height:70vh;
  width:100%;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
  background-color:#ffffff;
  margin-bottom:25px;
  text-align: center;
}

#intro-text h1, #intro-text h2,
#intro-text h3{
  color: white;
}

@media (max-width: 480px) {
  a#company-name.navbar-brand {
    font-size:14px;
  }
}

@media (min-width: 576px) {
  a#company-name.navbar-brand {
    font-size:16px;
  }
}

@media (max-width: 480px) {
  span#company-name-subscript {
    font-size: 10px;
  }
}

@media (min-width: 576px) {
  span#company-name-subscript {
    font-size: 14px;
  }
}

.navbar {
  padding: 0 1.3rem;
}

footer ul.list-inline li {
  display: inline-block;
}

footer ul.list {
  list-style: none;
  color: white;
}

section {
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}

html {
  scroll-behavior: smooth;
}

/**
 * Disable smooth scrolling when users have prefers-reduced-motion enabled
 */
 @media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}

body {
  font-family: 'Open Sans', sans-serif;
}

.logo-image {
  height: 35px;
  width: 35px;
  margin-top: -5px;
  margin-right: 8px;
}

@media (max-width: 320px) {
  .logo-image {
    height: 30px;
    width: 20px;
    margin-top: -3px;
    margin-left: -10px;
    margin-right: 2px;
  }
}

a.nav-link:hover {
  color: #ffff !important;
  background-color: #f0134d;
  border-radius: 3px;
  padding-left: 10px;
}

a#navbarDropdown.nav-link, a.nav-link {
  font-size: 14px;
}

a.nav-link, a#company-name.navbar-brand,
section#history h3, section#values h3,
section#services h3, section#methods h3, section#chambers h3 {
  font-family: 'Libre Baskerville', serif;
}

.text-primary, a.nav-link {
  color: #000839 !important;
}

.text-red {
  color: #f0134d;
}

section#history, section#methods {
  text-align: justify;
  text-justify: inter-word;
}