#intro-text {
  background-image:url("../../assets/img/image.jpg");
  height:70vh;
  width:100%;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
  background-color:#ffffff;
  margin-bottom:25px;
  text-align: center;
}

#intro-text h1, #intro-text h2,
#intro-text h3{
  color: white;
}

@media (max-width: 480px) {
  a#company-name.navbar-brand {
    font-size:14px;
  }
}

@media (min-width: 576px) {
  a#company-name.navbar-brand {
    font-size:16px;
  }
}

footer ul.list-inline li {
  display: inline-block;
}

footer ul.list {
  list-style: none;
  color: white;
}

section {
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}

html {
  scroll-behavior: smooth;
}

/**
 * Disable smooth scrolling when users have prefers-reduced-motion enabled
 */
 @media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}

body {
  font-family: 'Open Sans', sans-serif;
}
